.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom cs will be here */
.main-backround {
  background-image: url("./Design/images/main-background.jpg");
  height: 87.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 10vh;
}
.window-backround {
  /* background-image: url("./Design/images/main-background.jpg"); */
  height: 80vh;
  width: 70%;
  background-color: #c1c9eb;
  margin-left: 15%;
  border-radius: 20px;
  display: flex;
}
.copyright-line-bottom {
  /* height: 2vh; */
  background: #2b2e51;
}
p {
  margin: 0px;
}
.copyright-text {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}
.navbar-background {
  background: #2b2e51;
  height: 78vh;
  width: 5%;
  border-radius: 20px 0px 0px 20px;
  padding: 1vh;
}
.navbar-icon {
  height: 5vh;
  padding: 0px 10px;
  margin-top: 10px;
}
.content-title {
  background: #1a4188;
  color: #ffffff;
  padding: 2% 4%;
  width: 50vh;
  margin: 4% 0;
  border-radius: 0px 20px 20px 0px;
}
.welcome-asset {
  height: 35vh;
  margin-left: 280px;
  margin-top: 30px;
}
.center {
  justify-content: center;
  display: flex;
}

.title01 {
  font-size: 28px;
  font-family: Poppins;
  color: #0178ff;
  margin-bottom: -10px;
  text-align: center;
  margin-top: 3%;
}
.title02 {
  font-size: 34px;
  font-family: Poppins;
  color: #0178ff;
  margin-top: 0px;
  text-align: center;
}
